
fastapi[standard]
uvicorn[standard]
numpy
torch                       
torchaudio
faster-whisper              
httpx                     
websockets                 
python-dotenv              
piper-tts                   


transformers
sentencepiece


av                          
huggingface_hub             